*.elc
eln-cache/
straight/
transient/
eshell/
crafted-emacs/
projects
elpa/
bookmarks
network-security.data
quelpa/
.DS_Store
history
places
recentf
var
modules/.dir-locals.el
init.el
early-init.el
my-crafted-emacs.code-workspace
